body {
    background-color: bisque;
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100vw;
    height: auto;
}

.resultsDiv {
    background-color: violet;
    margin: 0 0 50px 0;
}